<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @volunteer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @volunteer.last_name %>
</p>


<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
