<p id="notice"><%= notice %></p>

<p>
  <%= image_tag("#{@volunteer.photo_url}", width: 200) %>
</p>

<p>
  <b>First name:</b>
  <%= @volunteer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @volunteer.last_name %>
</p>


<td><%= render(partial: 'record_admin', locals: {volunteer: @volunteer}) if signed_in? %></td>
<br><br>
<p><%= render partial: 'star_desc', collection: @volunteer.stars.ordered, as: :star %></p>
