<h1>New <%= star_image_tag('yellow', width:37, style: "vertical-align: top" %> For</h1>
<h3><%= @volunteer.full_name %></h3>
<h3><%= image_tag(@volunteer.photo_url, width: 100) %></h3>
<br><br>

<%= render 'form' %>

<%= link_to 'Back', volunteers_path %>
