<p id="notice"><%= notice %></p>

<p>
  <b>Recipient:</b>
  <%= @donation.recipient %>
</p>

<p>
  <b>Value:</b>
  <%= @donation.value %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
